html,body {
	width:100%;
	height:100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*Home Page*/
#image-home {
	position: relative;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-image: url(../img/homepage.jpg);
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}


.header-image img{
  width:30%;
  height: 70%;
  max-width: 300px;
  max-height: 130px;
  display: block;
  margin-top: 10px;
  margin-left: 15px;
}


/*Button*/

#click {
  width: 12%;
  height:auto;
  min-width: 120px;
  position: relative;
  top: 67%;
  left: 51%;
  cursor: pointer;
  background-color: rgba(56, 45, 46, .7);
}

#click p {
  color: #FFFFEE;
  font-family:'Average', serif;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

#click:hover {
   background-color: rgba(102, 102, 102, .7);
   color: #ffffff;
   }
#click:active {
   border-top-color: #7f8487;
   background: #7f8487;
   }

/*Navigation*/


body #stickySpace {
  top:0;
}
body #sticky {
  position: static;
  width: 100%;
}
body #sticky.stick {
  position: fixed;
  top: 0;
}

.top-bar {
  background-color: transparent;
}

.top-bar-section ul{
  background-color: transparent;
}

.top-bar-section ul li > a {
  font-family: 'Average', serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: right;
  color: #FFFFEE;
  }

.top-bar-section li a:not(.button) {
  background-color: transparent;
}


/*#stickySpace {
  position: fixed;
  top: 0;
}

body #sticky {
  background: transparent;
  position: static;
  height: 60px;
  line-height: 60px;
  width: 100%;
}
body #sticky.stick {
  top: 0;
}

/*background-color - use RGBA to make it slightly transparent you want to do this so the opacity of text doesnt change*/

/*Slider*/

#portfolio-section {
position: relative;
width: 100%;
height: 100%;

}

#content-slider-1{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0px; 
    height: auto;
    width: auto;

}

.royalSlider img {
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 10px auto;
}

.royalSlider .royalWrapper {
overflow:hidden;    
position:relative;
width:100%; 
height:100%;
}

/*Projects*/

.project-page {
  background-color: #FCFEF5;
}
/*Clearfix*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
